html {
    box-sizing: border-box;
    background-color: #E2E8CE;
    font-size: 24px;
    font-family: monospace;
    color: #17183B;
}
#maintitle,
.title {
    margin: 10px 0;
    font-size: 48px;
    text-align: center;
}
.mainimage {
    height: auto;
    width: 400px;

}
.submainbox1,
.submainbox2 {
    display: inline-block;
    height: auto;
    width: 400px;
    margin: 20px ;
    border: 10px solid #ACBFA4;
}
#mainbox1 {
    height: auto;
    width: 400px;
    margin: 20px;
    border: 10px solid #ACBFA4;
}
#mainbox1:hover,
.submainbox1:hover,
.submainbox2:hover {
    border: 10px solid #D65108;
}
a {
    text-decoration: none;
    color: black;
}
.subtitle {
    font-size: 36px;
}
